.report_main {
    margin: 48px 121px 63px 118px;

    @media (min-width: 481px) and (max-width: 1380px) {
        padding: 0 0 150px;
        margin: 47px 0 0;
    }

    @media (max-width: 480px) {
        margin: 47px 0 200px;

    }
}


