
@use "@/globals.scss" as *;



.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $default_color;
    margin-bottom: 30px;

    @media (max-width: 720px) {
        text-align: center;
    }
}
