@use "@/globals.scss" as *;

.custom-table {
    max-width: 100%;
    width: 100%;
    max-height: 647px;
    height: 100%;
    border: 1px solid $dark_border_color;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid $dark_border_color;
        padding: 8px;
    }

    tr {
        border: 1px solid $dark_border_color;
    }

    &-header {
        background-color: $default_color;

        &-box {
            color: $default_text-color;
            border: 1px solid $dark_border_color;
        }

    }

    &-tbody {
        td {
            max-height: 3em;
            overflow: hidden;
            -webkit-box-orient: vertical;
            word-break: break-word;
            height: 125px;
        }

        tr:nth-child(odd) {
            background-color: rgb(221, 219, 217);
        }

        .custom-table-tbody-centered {
            text-align: center;
        }

    }
}

.doorsTable {
    thead {
        th {
            height: 67px;
        }
    }

    td {
        height: 75px;
    }
}

.table-address {
    width: 250px;
}

.table-fullName {
    width: 192px;
}

.table-comment {
    width: 210px;
    max-width: 210px;
}

.table-count {
    width: 103px;
}

.table-installer {
    width: 210px;
    max-width: 210px;
}

.doorsTable-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

}

.doorsTable {
    max-width: 664px;
    width: 100%;

}

.emptyOrders-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}