@use "@/globals.scss" as *;

.table-wrapper {
    width: 100%;
    min-width: 100px; 
    overflow-x: auto;
  
    contain: layout;
}

.custom-table {
    max-width: 100%;
    width: 100%;
    max-height: 647px;
    height: auto;
    border: 1px solid $dark_border_color;
    border-collapse: collapse;
    table-layout: auto;
  
    th,
    td {
        border: 1px solid $dark_border_color;
        padding: 8px;
    }

    tr {
        border: 1px solid $dark_border_color;
    }

    &-header {
        background-color: $default_color;
        
        &-box {
            color: $default_text-color;
            border: 1px solid $dark_border_color;
            
        }

    }

    &-tbody {
        td {
            max-height: 3em;
            overflow: hidden;
            -webkit-box-orient: vertical;
            word-break: break-word;
            height: 75px;
        }

        tr:nth-child(odd) {
            background-color: rgb(221, 219, 217);
        }

        .custom-table-tbody-centered {
            text-align: center;
        }

    }
}

.doorsTable {
    thead {
        th {
            height: 67px;
        }
    }

    td {
        height: 50px;
    }
}

.table-col-filial {
    min-width: 100px;
}

.table-col-address {
    min-width: 240px;
}

.table-col-phone {
    min-width: 120px;
}

.table-col-date {
    min-width: 110px;
}

.table-col-count {
    min-width: 100px;
}

.table-col-comment {
    min-width: 200px;
}

.table-col-installer {
    min-width: 180px;
}

.table-col-actions {
    min-width: 100px;
}

.table-fullName {
    min-width: 200px;
}


.table-installer {
    min-width: 250px;
}

.doorsTable-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

}

.doorsTable {
    max-width: 664px;
    width: 100%;

}

.emptyOrders-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}



.social-img {

    width: 50px;
    height: 50px;
}

.custom-table-header-date {
    min-width: 107px;
}


















// AllOrdersTable 

.table-comment-allOrders {
      min-width: 200px;
      width: 200px;
}

.table-installer-allOrders {
    min-width: 250px;
}

.table-filial-allOrders {
    min-width: 100px;
}
